.m0{
    margin: 0px;
}

.mt0{
    margin-top: 0px;
}

.mb0{
    margin-bottom: 0px;
}

.m0a{
    margin: 0px auto;
}

.fonts{
    font-family:proxima-nova,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;;

    font-size: 1.875rem;
    font-weight: 300;
}

.headings{
    width: 765px;
    height: 156.667px;
    font-size: 64px;
    font-weight: 300;
}

.navBar{

}

.heroImage{

}

.bodyContent{

}

.footer{
    
}